@font-face {
  font-family: Roboto, serif;
  src: './assets/fonts/Roboto/Roboto-Medium.ttf';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
}
.pokemonLink {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* $gainsboro: #dcdcddff;
$silver: #c5c3c6ff;
$davys-grey: #46494cff;
$black-coral: #4c5c68ff;
$blue-munsell: #1985a1ff; */